.App {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.header {
  color: #ffe5c0;
  padding: 30px 10px 0;
  font-weight: 300;
}

.card {
  border: none;
  border-radius: 2px;
  background-color: rgba(255,255,255,0.1);
  margin: 10px 0;
  padding: 12px 15px;
  -webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	-moz-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.card-row {
  display: flex;
  justify-content: space-between;
}

.card-section {
  border-top: 1px solid #ffa72b;
  margin-top: 10px;
  padding-top: 4px;
}

.result-info {
  text-align: left;
  color: #dedddd;
  padding: 5px 0 0;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}

.player-name {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  align-self: center;
  color: #ffe5c0;
}

.stats-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.stats-container > * + * {
  margin-left: 30px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  text-align: right;
  color: #ffe5c0;
  opacity: 0.7;
  font-weight: 200;
}

.stats > * + * {
  margin-top: 5px;
}

.form {
  padding: 30px 10px;
  display: flex;
  justify-content: center;
}

.form > * + * {
  margin-left: 20px;
}

.result {
  flex-direction: column;
}

.result > * + * {
  margin: 10px 0 0;
}

.result-container {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.label {
  color: #ffa72b;
  line-height: 40px;
  text-align: right;
  padding-right: 20px;
}

.input {
  line-height: 30px;
  padding: 10px 5px 5px;
  border: none;
  border-bottom: 1px solid #ffa72b;
  font-size: 20px;
  color: #ffe5c0;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  max-width: 50%;
  font-weight: 300;
}

.input--small {
  margin-left: 5px;
  max-width: 15%;
}

.input::placeholder {
  color: #ffe5c0;
  font-size: 14px;
}

.button {
  padding: 8px 30px;
  line-height: 30px;
  border: none;
  border-radius: 2px;
  background-color: #ffa72b;
  color: #29323c;
  font-size: 20px;
  font-weight: 400;
  outline: none;
  -webkit-animation: scale-up-bl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  -moz-animation: scale-up-bl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-bl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.button:hover, .input:hover, .card:hover {
  cursor: pointer;
}

@-webkit-keyframes scale-up-ver-center{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4)}100%{-webkit-transform:scaleY(1);transform:scaleY(1)}}@keyframes scale-up-ver-center{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4)}100%{-webkit-transform:scaleY(1);transform:scaleY(1)}}
@-webkit-keyframes scale-up-bl{0%{-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:0 100%;transform-origin:0 100%}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:0 100%;transform-origin:0 100%}}@keyframes scale-up-bl{0%{-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:0 100%;transform-origin:0 100%}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:0 100%;transform-origin:0 100%}}
